<!--<h1 mat-dialog-title>Choose category</h1>-->

<!--<div mat-dialog-content>-->
<!--	<mat-radio-group-->
<!--		aria-labelledby="example-radio-group-label"-->
<!--		class="example-radio-group"-->
<!--		[(ngModel)]="category"-->
<!--	>-->
<!--		<mat-radio-button class="example-radio-button" *ngFor="let season of categories" [value]="season">-->
<!--			{{ season }}-->
<!--		</mat-radio-button>-->
<!--	</mat-radio-group>-->
<!--</div>-->

<!--<div mat-dialog-actions>-->
<!--	<button mat-button>Close</button>-->
<!--	<button mat-button [mat-dialog-close]="true">Add</button>-->
<!--</div>-->
